<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.materialxpractice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Card.Timeline.CardTimelineActivity"></activity>
        <activity android:name=".Card.Basic.CardBasicActivity" />
        <activity android:name=".Button.Basic.ButtonBasicActivity" />
        <activity android:name=".Button.ListButtonActivity" />
        <activity android:name=".BottomSheet.Full.BottomSheetFullActivity" />
        <activity android:name=".BottomSheet.Floating.BottomSheetFloatingActivity" />
        <activity android:name=".BottomSheet.ListBottomSheetActivity" />
        <activity android:name=".BottomSheet.List.BottomSheetList" />
        <activity android:name=".BottomNavigation.Primary.BottomNavigationPrimaryActivity" />
        <activity android:name=".BottomNavigation.Shifting.BottomNavigationShiftingActivity" />
        <activity android:name=".BottomNavigation.BottomNavigationListActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Card.ListCardActivity" />
        <activity android:name=".Chips.ListChipsActivity" />
        <activity android:name=".Card.Wizard.CardWizardActivity" />
        <activity android:name=".Card.WizardOverleap.CardWizardOverlapActivity" />
        <activity android:name=".Chips.Basic.ChipBasicActivity" />
        <activity android:name=".Chips.Tag.ChipTagActivity" />
    </application>

</manifest>